aiohappyeyeballs==2.6.1

aiohttp==3.12.15

aiohttp-retry==2.9.1

aiosignal==1.4.0

ajsonrpc==1.2.0

alembic==1.16.5

altair==5.2.0

amqp==2.6.1

annotated-types==0.6.0

anyio==4.11.0

APScheduler==3.11.0

arabic-reshaper==3.0.0

arrow==1.4.0

asgiref==3.11.0

asn1crypto==1.5.1

attribute==0.1.4

attrs==23.2.0

beautifulsoup4==4.12.3

bidict==0.23.1

billiard==3.6.4.0

binaryornot==0.4.4

blinker==1.7.0

blis==0.7.11

bottle==0.13.4

cachetools==5.3.3

catalogue==2.0.10

celery==4.4.7

certifi==2024.2.2

cffi==1.16.0

chardet==5.2.0

charset-normalizer==3.3.2

click==8.1.7

cloudpathlib==0.16.0

colorama==0.4.6

comtypes==1.4.6

confection==0.1.4

contourpy==1.2.0

cookiecutter==2.6.0

crispy-bootstrap5==2026.3

cryptography==42.0.5

cssselect2==0.7.0

customtkinter==5.2.2

cycler==0.12.1

cymem==2.0.8

darkdetect==0.8.0

decorator==4.4.2

distro==1.9.0

dj-database-url==3.1.2

Django==5.2.8

django-celery-beat==2.1.0

django-crispy-forms==2.6

django-filter==25.2

django-tailwind==4.4.1

django-timezone-field==4.2.3

django-widget-tweaks==1.4.8

djangorestframework==3.14.0

docopt==0.6.2

docutils==0.20.1

docx==0.2.4

en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889

et_xmlfile==2.0.0

Flask==3.0.2

Flask-APScheduler==1.13.1

Flask-Login==0.6.3

Flask-Mail==0.10.0

Flask-Migrate==4.1.0

Flask-SocketIO==5.5.1

Flask-SQLAlchemy==3.1.1

fonttools==4.49.0

fpdf==1.7.2

frame==0.3.1

frozenlist==1.7.0

gitdb==4.0.11

GitPython==3.1.42

google-ai-generativelanguage==0.6.15

google-api-core==2.30.3

google-api-python-client==2.194.0

google-auth==2.49.2

google-auth-httplib2==0.3.1

google-genai==1.75.0

google-generativeai==0.8.6

googleapis-common-protos==1.74.0

greenlet==3.0.3

grid==0.7.1

grpcio==1.80.0

grpcio-status==1.71.2

h11==0.16.0

html5lib==1.1

httpcore==1.0.9

httplib2==0.31.2

httpx==0.28.1

idna==3.6

image==1.5.33

imageio==2.34.1

imageio-ffmpeg==0.4.9

importlib==1.0.4

importlib-metadata==7.0.1

ioutil==1.0.3

itsdangerous==2.1.2

Jinja2==3.1.3

jiter==0.11.0

joblib==1.3.2

jsonschema==4.21.1

jsonschema-specifications==2023.12.1

Kivy==2.3.0

kivy-deps.angle==0.4.0

kivy-deps.glew==0.3.1

kivy-deps.sdl2==0.7.0

Kivy-examples @ file:///C:/Users/USER/Downloads/Kivy_examples-3.0.0.dev0-py2.py3-none-any.whl#sha256=4fb8b59c1d7d27a8567dc3e07c75c7042f132641bd258f68cebe48520b16a75d

Kivy-Garden==0.1.5

kiwisolver==1.4.5

kombu==4.6.11

langcodes==3.3.0

lxml==5.1.0

Mako==1.3.2

markdown-it-py==3.0.0

MarkupSafe==2.1.5

marshmallow==3.26.1

matplotlib==3.8.3

maze==3.0.0

mdurl==0.1.2

mock==5.2.0

moviepy==1.0.3

multidict==6.6.4

multipart==0.2.4

murmurhash==1.0.10

mysql==0.0.3

mysql-connector-python==8.4.0

mysqlclient==2.2.4

neattext==0.1.3

nltk==3.8.1

node==1.2.1

numpy==1.26.4

odict==1.9.0

openai==1.108.2

openpyxl==3.1.5

oscrypto==1.3.0

packaging==23.2

pandas==2.2.0

pathfinder==1.0.1

pathfinding==1.0.9

pillow==10.2.0

platformio==6.1.18

plumber==1.7

preshed==3.0.9

proglog==0.1.10

propcache==0.3.2

proto-plus==1.27.2

protobuf==5.29.6

psycopg2-binary==2.9.12

pyamaze==1.0.1

pyarrow==15.0.0

pyasn1==0.6.3

pyasn1_modules==0.4.2

pycparser==2.21

pydantic==2.13.4

pydantic_core==2.46.4

pydeck==0.8.1b0

pyelftools==0.32

pygame==2.5.2

Pygments==2.17.2

pyHanko==0.21.0

pyhanko-certvalidator==0.26.3

PyJWT==2.10.1

pymunk==6.6.0

PyMySQL==1.1.0

pyparsing==3.1.2

pypdf==4.1.0

pyperclip==1.8.2

pypiwin32==223

pypng==0.20220715.0

PyQt5==5.15.9

pyqt5-plugins==5.15.9.2.3

PyQt5-Qt5==5.15.2

PyQt5-sip==12.13.0

pyqt5-tools==5.15.9.3.3

pyserial==3.5

pytailwindcss==0.3.0

python-bidi==0.4.2

python-crontab==3.0.0

python-dateutil==2.8.2

python-docx==1.1.0

python-dotenv==1.0.1

python-engineio==4.12.2

python-slugify==8.0.4

python-socketio==5.13.0

pytz==2024.1

pywifi==1.1.12

pywin32==306

PyYAML==6.0.1

qrcode==7.4.2

qt5-applications==5.15.2.2.3

qt5-tools==5.15.2.1.3

redis==3.5.3

referencing==0.33.0

regex==2023.12.25

relaxml==0.1.3

reportlab==4.0.9

repoze.lru==0.7

requests==2.31.0

rich==13.7.1

Routes==2.5.1

rpds-py==0.18.0

scikit-learn==1.4.1.post1

scipy==1.12.0

semantic-version==2.10.0

simple-websocket==1.1.0

simplejson==3.20.1

six==1.16.0

smart-open==6.4.0

smmap==5.0.1

sniffio==1.3.1

soupsieve==2.5

spacy==3.7.4

spacy-legacy==3.0.12

spacy-loggers==1.0.5

speedtest-cli==2.1.3

SQLAlchemy==2.0.29

sqlparse==0.3.1

srsly==2.4.8

srutil==1.0.3

starlette==0.46.2

streamlit==1.31.1

svglib==1.5.1

tabulate==0.9.0

tenacity==8.2.3

text-unidecode==1.3

textblob==0.18.0.post0

thinc==8.2.3

threadpoolctl==3.3.0

three==0.8.0

tinycss2==1.2.1

tk==0.1.0

toml==0.10.2

toolz==0.12.1

tornado==6.4

tqdm==4.66.2

twilio==9.8.0

typer==0.9.0

typing-inspection==0.4.2

typing_extensions==4.15.0

tzdata==2024.1

tzlocal==5.2

uritemplate==4.2.0

uritools==4.0.2

urllib3==2.2.1

uvicorn==0.34.3

validators==0.22.0

vine==1.3.0

waitress==3.0.2

wasabi==1.1.2

watchdog==4.0.0

weasel==0.3.4

webencodings==0.5.1

websockets==16.0

Werkzeug==3.0.1

whitenoise==6.12.0

wikipedia==1.4.0

wsproto==1.2.0

xhtml2pdf==0.2.15

yarl==1.20.1

zipp==3.17.0

zope.component==6.0

zope.deferredimport==5.0

zope.deprecation==5.0

zope.event==5.0

zope.hookable==6.0

zope.interface==6.2

zope.lifecycleevent==5.0

zope.proxy==5.2

